<!-- <div class="max-w-md rounded overflow-hidden shadow-lg">
    @if(course.id===1){
    <h2 class="font-bold text-xl mb-2">Birinci Kurs</h2>
    }
    @else if(course.iconUrl){
    <img class="w-full" [src]="course.iconUrl" [alt]="course.description">

    }
    @else {
    <h2 class="font-bold text-xl mb-2">İmaj Bulunamadı</h2>
    }

    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{index}}-{{course.description}}</div>
        <p class="text-gray-700 text-base line-clamp-4">
            {{course.longDescription}}
        </p>
    </div>
    <div class="px-6">
        <button (click)="onCourseViewed()"
            class=" px-3 py-2 bg-slate-700 text-white rounded-full w-full text-center font-bold">Get
            Started</button>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{course.category}}</span>
    </div>

</div> -->




<ng-container *ngIf="course">
    <div class="course-card" [ngClass]="cardClasses()">
        <img class="w-full" [src]="course.iconUrl" [alt]="course.description" *ngIf="isImagaVisible() else noImage ">
        <ng-template #noImage>
            <p class="font-bold text-center">Görsel Bulunamadı</p>
        </ng-template>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2" [ngStyle]="cardStyles()">{{index}}-{{course.description}}
            </div>
            <p class="text-gray-700 text-base line-clamp-4">
                {{course.longDescription}}
            </p>
        </div>
        <div class="px-6">
            <button (click)="onCourseViewed()"
                class=" px-3 py-2 bg-slate-700 text-white rounded-full w-full text-center font-bold">Get
                Started</button>
        </div>

        <!-- <div class="px-6 pt-4 pb-2">
            @switch (course.category) {
            @case ("BEGINNER") {
            <span
                class="inline-block bg-blue-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{course.category}}</span>
    
            }
            @case ("INTERMEDIATE") {
            <span
                class="inline-block bg-green-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{course.category}}</span>
    
            }
            @case ("ADVANCED") {
            <span
                class="inline-block bg-red-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{course.category}}</span>
    
            }
            @default {
            <span
                class="inline-block bg-gray-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{course.category}}</span>
    
            }
    
            }
    
        </div> -->

        <ng-container [ngSwitch]="course.category">
            <div class="px-6 pt-4 pb-2">
                <ng-container *ngSwitchCase="'INTERMEDIATE'">
                    <span
                        class="inline-block bg-blue-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{course.category}}</span>
                </ng-container>
                <ng-container *ngSwitchCase="'ADVANCED'">
                    <span
                        class="inline-block bg-green-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{course.category}}</span>
                </ng-container>
                <ng-container *ngSwitchCase="'BEGINNER'">
                    <span
                        class="inline-block bg-red-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{course.category}}</span>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <span
                        class="inline-block bg-gray-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">All
                        Levels</span>
                </ng-container>


            </div>

        </ng-container>

    </div>
</ng-container>