<div class="container">
    <div class="p-6 mx-auto max-w-lg">
        <h1 class="p-2">{{data.title}}</h1>
        <input type="text" class="input" [value]="data.title" (keyup)="onKeyUp(titleInput.value)" #titleInput>
    </div>
    <div class="card-area" #container>

        <!-- <app-card
            *ngFor="let course of coreCourse;trackBy:trackCourse; let count = index; let first = first; let last = last; let even = even; let odd = odd"
            [class.is-first]="first" [class.is-last]="last" (courseSelected)="onCourseSelected($event)"
            [course]="course" [index]="count" [count]="count" [isFirst]="first"></app-card> -->

        <app-card #cardRef (courseSelected)="onCourseSelected($event)" [course]="coreCourse[0]"></app-card>




    </div>
</div>