<div class="container">
    <button (click)="onCoursesEdited()">Edit Courses</button>
    <div class="card-area" #container>

        <!-- <app-card
            *ngFor="let course of coreCourse;trackBy:trackCourse; let count = index; let first = first; let last = last; let even = even; let odd = odd"
            [class.is-first]="first" [class.is-last]="last" (courseSelected)="onCourseSelected($event)"
            [course]="course" [index]="count" [count]="count" [isFirst]="first"></app-card> -->

        <app-card *ngFor="let course of coreCourse" (courseSelected)="onCourseSelected($event)"
            [course]="course"></app-card>




    </div>
</div>